[submodule "intpath/pos_credit_payment"]
	path = intpath/pos_credit_payment
	url = git@github.com:intpath/pos_credit_payment.git
	branch = master

[submodule "intpath/pos_disable_all"]
	path = intpath/pos_disable_all
	url = git@github.com:intpath/pos_disable_all.git
	branch = master

[submodule "intpath/pos_order_sync"]
	path = intpath/pos_order_sync
	url = git@github.com:intpath/pos_order_sync.git
	branch = master
